@import "reset.css";
@font-face {
  font-family: "Gilroy Bold";
  font-weight: auto;
  src: url(../fonts/Gilroy-SemiBold.ttf)
  format('truetype');
}
@font-face {
  font-family: "Gilroy Regular";
  font-weight: auto;
  src: url(../fonts/Gilroy-Regular.ttf)
  format('truetype');
}
@font-face {
  font-family: "Fira Regular";
  font-weight: auto;
  src: url(../fonts/FiraMono-Regular.ttf)
  format('truetype');
}
body{
  overflow-x: hidden;
}
h3{
  font-family: "Gilroy Bold";
  font-size: 1.3vw;
  color: #000;
  padding: 1vw;
  margin-top: -1vw;
  margin-bottom: 1vw;
}
p{
  font-family: "Gilroy Regular";
  margin: 1vw;
  font-size: 1.1vw;
  max-width: 20vw;
  margin-top: 0;
}
.code p{
  font-family: "Fira Regular";
  font-size: 1vw;
}
.code p span{
  display: flex;
  flex-direction: column;
}
a{
  font-family: "Gilroy Bold";
  padding-left: 1vw;
  padding-top: -1vw;
  text-decoration: none;
  font-size: 1vw;
  color: rgba(255, 0, 0, 1);
  transform: rotateX(90deg);
}
a:hover{
  text-decoration: underline;
}
.wrapper{
  display: grid;
  grid-template-columns: 6fr 4fr 4fr 5fr 7fr ;
  grid-template-rows: 30vw 20vw 25vw 30vw 30vw;
}

.tech_1 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  color: #000;
}
.tech_2 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  color: #000;

}
.tech_3 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  color: #000;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.tech_4 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  color: #000;
}
.tech_5 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  color: #000;

  grid-row-start: 2;
  grid-row-end: 4;
}
.tech_6 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  color: #000;
  grid-column-start: 2;
  grid-column-end: 3;
}
.tech_6 .circle{
  width: 20vw;
  height: 19vw;
  border-radius: 50%;
  background-color: #000;
  margin-left: 1vw;
  margin-top: 0.5vw;
}
.tech_6 .circle:hover{
  background-color: #C01E1E;
}
.tech_7 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  color: #000;
}

/* .tech_7 .hidden{
  opacity:0;
  width: 20vw;
}
.tech_7 .hidden:hover{
  opacity:1;
} */
.tech_8 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  color: #000;

  grid-column-start: 2;
  grid-column-end: 5;
}
.tech_9 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  color: #000;
}

.tech_10 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  color: #000;

}
.tech_11 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  color: #000;

}
.tech_12 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  color: #000;

  grid-column-start: 3;
  grid-column-end: 5;
}
.tech_13 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  color: #000;

}
.tech_14 {
  background-color: none;
  border: 0.1vw solid #C01E1E;

}
.tech_15 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;

}
.tech_16 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
}
.tech_15 .circle{
  width: 27vw;
  height: 14vw;
  border-radius: 50%;
  background-color: #C01E1E;
  margin-left: 1vw;
  margin-top: 0.5vw;
}
.tech_15 .circle:first-child{
    background-color: #C01E1E;
}
.tech_15 .circle:last-child{
    background-color: #000;
}
.tech_15 .circle:first-child:hover{
  background-color: #000;
}
.tech_15 .circle:last-child:hover{
  background-color: #C01E1E;
}
.tech_17 {
  background-color: none;
  border: 0.1vw solid #C01E1E;

}
.tech_18 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
}
.tech_19 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
}
.tech_20 {
  background-color: none;
  border: 0.1vw solid #C01E1E;
  grid-column-start: 3;
  grid-column-end: 6;
}
 img{
  max-width: 21vw;
  padding: 1vw;
}
.tech_2 img{
  min-width: 20vw;
  max-height: 7vw;
}
.tech_3 img{
  min-width: 26.5vw;
  height: 25vw;
  filter: grayscale(100%);
}
.tech_8 img{
  min-width: 50vw;
}
.tech_8 .text{
  display: flex;
  width: 90vw;
}
.tech_9 img{
  max-width: 13vw;
  height: auto;
  margin-left: 4.2vw;
}
.tech_10 img{
  filter: grayscale(100%);
}
.tech_12 img{
  margin-left: 5vw;
  height: 5vw;
}
.tech_12 p,
.tech_18 p{
  max-width: 35vw;
}
.tech_13 img{
  filter: saturate(85%);
}
.tech_17 img{
  filter: hue-rotate(90deg);
  max-width: 12vw;
  height: auto;
  margin-left: 5vw;
}
.tech_1, .tech_2, .tech_3, .tech_4{
  border-top: 0.15vw solid #C01E1E;
}
.tech_1, .tech_5, .tech_10, .tech_14{
  border-left: 0.15vw solid #C01E1E;
}
.tech_4, .tech_7, .tech_9, .tech_13, .tech_17{
  border-right: 0.15vw solid #C01E1E;
}
.tech_14, .tech_15, .tech_16, .tech_17{
  border-bottom: 0.15vw solid #C01E1E;
}
@media (max-width: 1024px) {

}
@media (max-width: 320px) {
.wrapper{
    display: flex;
    flex-direction: column;
  }
img{
  max-width: 80vw;
  margin-left: 10vw;
}
.tech_2 img{
  min-width: 80vw;
}
.tech_3 img{
  width: 80vw;
  height: auto;
}
.tech_10{
  width: 80vw;
}
